<p id="notice"><%= notice %></p>

<%= render :partial => @topic %>

<div>
        <%= render :partial => @topic.comments %>
</div>

<%= form_for [@topic, Comment.new] do |f| %>
        <p>
                <%= f.label :body, "Add comment" %><br/>
                <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add comment" %></p>
<% end %>

<%= link_to 'Edit', edit_topic_path(@topic), :class => :link_field %> 
<%= link_to 'Back', forum_path(@topic.forum), :class => :link_field %>
